body
{
 text-align:center;
 background-color:rgb(70, 76, 92);
}
h1
{
 color:rgb(242, 246, 4); 
}
img
{
  height:400px;
  border:solid 6px;
  border-color:orange;
}
button
{
  color:green;
  background-color:lightblue;
}
body
{
    text-align: center;
    color: gold;
}
a
{
    color:rgba(156, 20, 16, 0.658);
}

a
{

color: #f8b306;

}